<div id="pipeline-staged" cbwf-controller="pipeline-staged" fragcaption="Stage View" objecturl="/job/cd" class="cbwf-widget cbwf-controller-applied pipeline-staged"><div><div id="pipeline-box">
    <h2>Stage View</h2>
    <div class="table-box"><div class="table-viewPort" style="max-width:40em">
    <table class="jobsTable" style="max-width:40em">
      <colgroup>
        <col class="start-group">
          <col class="stage-group" style="max-width:10em;">
          <col class="stage-group" style="max-width:10em;">
          <col class="stage-group" style="max-width:10em;">
          <col class="stage-group" style="max-width:10em;">
      </colgroup>
        <thead>
        <tr class="header">
            <th class="stage-start"></th>
            <th class="stage-header-name-0">Dev</th>
            <th class="stage-header-name-1">QA</th>
            <th class="stage-header-name-2">Staging</th>
            <th class="stage-header-name-3">Production</th>
        </tr>
        </thead>
        <tbody class="totals-box">
        <tr class="totals">
            <td class="stage-start"><div class="cell-color">
              Average stage times:<br>
              (Average <span style="text-decoration: underline;" title="builds that run all stages">full</span> run time: ~55s)
            </div></td>
            <td class="stage-total-0">
              <div class="cell-color">
                <div class="duration">3s</div>
                <div class="stackedBarChart"><div class="stackedBarChart inner clearfix"><div class="bar highlight" style="width: 6.5108611326609775%;"></div><div class="bar posthighlight" style="width: 72.42435996896819%;"></div><div class="bar posthighlight" style="width: 19.873933281613652%;"></div><div class="bar posthighlight" style="width: 1.1908456167571762%;"></div><div class="clearfix"></div></div></div>
              </div>
            </td>
            <td class="stage-total-1">
              <div class="cell-color">
                <div class="duration">37s</div>
                <div class="stackedBarChart"><div class="stackedBarChart inner clearfix"><div class="bar prehighlight" style="width: 6.5108611326609775%;"></div><div class="bar highlight" style="width: 72.42435996896819%;"></div><div class="bar posthighlight" style="width: 19.873933281613652%;"></div><div class="bar posthighlight" style="width: 1.1908456167571762%;"></div><div class="clearfix"></div></div></div>
              </div>
            </td>
            <td class="stage-total-2">
              <div class="cell-color">
                <div class="duration">10s</div>
                <div class="stackedBarChart"><div class="stackedBarChart inner clearfix"><div class="bar prehighlight" style="width: 6.5108611326609775%;"></div><div class="bar prehighlight" style="width: 72.42435996896819%;"></div><div class="bar highlight" style="width: 19.873933281613652%;"></div><div class="bar posthighlight" style="width: 1.1908456167571762%;"></div><div class="clearfix"></div></div></div>
              </div>
            </td>
            <td class="stage-total-3">
              <div class="cell-color">
                <div class="duration">614ms</div>
                <div class="stackedBarChart"><div class="stackedBarChart inner clearfix"><div class="bar prehighlight" style="width: 6.5108611326609775%;"></div><div class="bar prehighlight" style="width: 72.42435996896819%;"></div><div class="bar prehighlight" style="width: 19.873933281613652%;"></div><div class="bar highlight" style="width: 1.1908456167571762%;"></div><div class="clearfix"></div></div></div>
              </div>
            </td>
        </tr>
      </tbody>
        <tbody class="tobsTable-body">
        <tr class="job SUCCESS">
            <td class="stage-start">
              <div class="cell-color">
                <div class="cell-box">
                  <div class="jobName"><span class="badge">#2</span></div>
                  <div class="stage-start-box">
                    <div class="stage-start-time">
                      <div class="date">1414318300276 1414318300276</div>
                      <div class="time">1414318300276</div>
                    </div>
                                    <div class="changeset-box no-changes">No Changes</div>
                    <div class="stage-end-icons">
                      <div cbwf-controller="build-artifacts-popup" objecturl="/job/cd/2/wfapi/artifacts" class="cbwf-widget cbwf-controller-applied build-artifacts-popup"><a class="link"><i class="glyphicon glyphicon-download"> </i> Download</a></div>
                    </div>
                  </div>

                  <div class="clearfix"></div>

                </div>
              </div>
            </td>
            <td class="stage-cell stage-cell-0 NOT_EXECUTED">
              <div class="cell-color">
                <div class="stage-wrapper">
                    <div class="duration">
                        <span style="font-size: em; opacity: NaN;">NaNy NaNd</span>
                    </div>
                </div>
              </div>
        </td>
            <td class="stage-cell stage-cell-1 NOT_EXECUTED">
              <div class="cell-color">
                <div class="stage-wrapper">
                    <div class="duration">
                        <span style="font-size: em; opacity: NaN;">NaNy NaNd</span>
                    </div>
                </div>
              </div>
        </td>
            <td class="stage-cell stage-cell-2 NOT_EXECUTED">
              <div class="cell-color">
                <div class="stage-wrapper">
                    <div class="duration">
                        <span style="font-size: em; opacity: NaN;">NaNy NaNd</span>
                    </div>
                </div>
              </div>
        </td>
            <td class="stage-cell stage-cell-3 SUCCESS">
              <div class="cell-color">
                <div class="stage-wrapper">
                    <div class="duration">
                        <span style="font-size: 1.2915451895043732em; opacity: 0.7915451895043732;">600ms</span>
                    </div>
                        <div cbwf-controller="stage-actions-popover" descurl="/job/cd/2/execution/node/33/wfapi/describe" notif="stage-actions-popover,stage-failed-popover" caption="Success" class="cbwf-widget cbwf-controller-applied stage-actions-popover"></div>
                </div>
              </div>
        </td>
        </tr>
        <tr class="job SUCCESS">
            <td class="stage-start">
              <div class="cell-color">
                <div class="cell-box">
                  <div class="jobName"><span class="badge">#1</span></div>
                  <div class="stage-start-box">
                    <div class="stage-start-time">
                      <div class="date">1414318232950 1414318232950</div>
                      <div class="time">1414318232950</div>
                    </div>
                                    <div class="changeset-box no-changes">No Changes</div>
                    <div class="stage-end-icons">
                      <div cbwf-controller="build-artifacts-popup" objecturl="/job/cd/1/wfapi/artifacts" class="cbwf-widget cbwf-controller-applied build-artifacts-popup"><a class="link"><i class="glyphicon glyphicon-download"> </i> Download</a></div>
                    </div>
                  </div>

                  <div class="clearfix"></div>

                </div>
              </div>
            </td>
            <td class="stage-cell stage-cell-0 SUCCESS">
              <div class="cell-color">
                <div class="stage-wrapper">
                    <div class="duration">
                        <span style="font-size: 1.0299887441710887em; opacity: 0.5299887441710887;">3s</span>
                    </div>
                        <div cbwf-controller="stage-actions-popover" descurl="/job/cd/1/execution/node/10/wfapi/describe" notif="stage-actions-popover,stage-failed-popover" caption="Success" class="cbwf-widget cbwf-controller-applied stage-actions-popover"></div>
                </div>
              </div>
        </td>
            <td class="stage-cell stage-cell-1 SUCCESS">
              <div class="cell-color">
                <div class="stage-wrapper">
                    <div class="duration">
                        <span style="font-size: 1.3335834628646979em; opacity: 0.8335834628646979;">37s</span>
                    </div>
                        <div cbwf-controller="stage-actions-popover" descurl="/job/cd/1/execution/node/13/wfapi/describe" notif="stage-actions-popover,stage-failed-popover" caption="Success" class="cbwf-widget cbwf-controller-applied stage-actions-popover"></div>
                </div>
              </div>
        </td>
            <td class="stage-cell stage-cell-2 SUCCESS">
              <div class="cell-color">
                <div class="stage-wrapper">
                    <div class="duration">
                        <span style="font-size: 1.0915384752818424em; opacity: 0.5915384752818424;">10s</span>
                    </div>
                        <div cbwf-controller="stage-actions-popover" descurl="/job/cd/1/execution/node/27/wfapi/describe" notif="stage-actions-popover,stage-failed-popover" caption="Success" class="cbwf-widget cbwf-controller-applied stage-actions-popover"></div>
                </div>
              </div>
        </td>
            <td class="stage-cell stage-cell-3 SUCCESS">
              <div class="cell-color">
                <div class="stage-wrapper">
                    <div class="duration">
                        <span style="font-size: 1.0056189812581515em; opacity: 0.5056189812581515;">629ms</span>
                    </div>
                        <div cbwf-controller="stage-actions-popover" descurl="/job/cd/1/execution/node/33/wfapi/describe" notif="stage-actions-popover,stage-failed-popover" caption="Success" class="cbwf-widget cbwf-controller-applied stage-actions-popover"></div>
                </div>
              </div>
        </td>
        </tr>
      </tbody>

    </table>
    </div>
    </div></div></div></div>