<div id="pipeline-staged" cbwf-controller="pipeline-staged" fragcaption="Stage View" objecturl="/job/cd" class="cbwf-widget cbwf-controller-applied pipeline-staged"><div><div id="pipeline-box">
<h2>Stage View</h2>
<div class="table-box"><div class="table-viewPort">
<table class="jobsTable" style="max-width:20em">
  <colgroup>
    <col class="start-group">
      <col class="stage-group" style="max-width:10em;">
      <col class="stage-group" style="max-width:10em;">
  </colgroup>
    <thead>
    <tr class="header">
        <th class="stage-start"></th>
        <th class="stage-header-name-0">Staging</th>
        <th class="stage-header-name-1">Production</th>
    </tr>
    </thead>
    <tbody class="totals-box">
    <tr class="totals">
        <td class="stage-start"><div class="cell-color">
          Average stage times:<br>
          &nbsp;
        </div></td>
        <td class="stage-total-0">
          <div class="cell-color">
            <div class="duration">10s</div>
            <div class="stackedBarChart"><div class="stackedBarChart inner clearfix"><div class="bar highlight" style="width: 94.21662375873483%;"></div><div class="bar posthighlight" style="width: 5.783376241265171%;"></div><div class="clearfix"></div></div></div>
          </div>
        </td>
        <td class="stage-total-1">
          <div class="cell-color">
            <div class="duration">629ms</div>
            <div class="stackedBarChart"><div class="stackedBarChart inner clearfix"><div class="bar prehighlight" style="width: 94.21662375873483%;"></div><div class="bar highlight" style="width: 5.783376241265171%;"></div><div class="clearfix"></div></div></div>
          </div>
        </td>
    </tr>
  </tbody>
    <tbody class="tobsTable-body">
    <tr class="job IN_PROGRESS" data-runid="2014-10-26_10-10-32">
        <td class="stage-start">
          <div class="cell-color">
            <div class="cell-box">
              <div class="jobName"><span class="badge">#1</span></div>
              <div class="stage-start-box">
                <div class="stage-start-time">
                  <div class="date">1414318232950 1414318232950</div>
                  <div class="time">1414318232950</div>
                </div>
                                <div class="changeset-box no-changes">No Changes</div>
                <div class="stage-end-icons extension-dock">
                  <div cbwf-controller="build-artifacts-popup" objecturl="/job/cd/1/wfapi/artifacts" class="cbwf-widget cbwf-controller-applied build-artifacts-popup"><a class="link"><i class="glyphicon glyphicon-download" title="Download"></i></a></div>
                </div>
              </div>

              <div class="clearfix"></div>

            </div>
          </div>
        </td>
        <td class="stage-cell stage-cell-0 SUCCESS" data-stageid="27">
          <div class="cell-color">
            <div class="stage-wrapper">
                <div class="duration">
                    <span style="font-size: 1.0915384752818424em; opacity: 0.5915384752818424;">10s</span>
                </div>
                    <div cbwf-controller="stage-actions-popover" descurl="/job/cd/1/execution/node/27/wfapi/describe" notif="stage-actions-popover,stage-failed-popover" caption="Success" class="cbwf-widget cbwf-controller-applied stage-actions-popover"></div>
                <div class="extension-dock"></div>
            </div>
          </div>
    </td>
        <td class="stage-cell stage-cell-1 IN_PROGRESS" data-stageid="33">
          <div class="cell-color">
            <div class="stage-wrapper">
                <div class="duration">
                    <span style="font-size: 1.0056189812581515em; opacity: 0.5056189812581515;">629ms</span>
                </div>
                    <div cbwf-controller="stage-actions-popover" descurl="/job/cd/1/execution/node/33/wfapi/describe" notif="stage-actions-popover,stage-failed-popover" caption="In Progress" class="cbwf-widget cbwf-controller-applied stage-actions-popover"></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" style="width: 98%"></div>
                    </div>
                <div class="extension-dock"></div>
            </div>
          </div>
    </td>
    </tr>
    <tr class="in-progress-run">
        <td class="stage-start hide-cell"></td>
        <td class="totalComplete" colspan="2">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:98%">
                </div>
            </div>
        </td>
    </tr>
  </tbody>

</table>
</div>
</div></div></div></div>