<div><div id="pipeline-box">
<h2>Stage View</h2>
<div class="table-box"><div class="table-viewPort">
<table class="jobsTable" style="max-width:30em">
  <colgroup>
    <col class="start-group">
      <col class="stage-group" style="max-width:10em;">
      <col class="stage-group" style="max-width:10em;">
      <col class="stage-group" style="max-width:10em;">
  </colgroup>
    <thead>
    <tr class="header">
        <th class="stage-start"></th>
        <th class="stage-header-name-0">Build</th>
        <th class="stage-header-name-1">Test</th>
        <th class="stage-header-name-2">Deploy</th>
    </tr>
    </thead>
    <tbody class="totals-box">
    <tr class="totals">
        <td class="stage-start"><div class="cell-color">
          Average stage times:<br>
          (Average <span style="text-decoration: underline;" title="builds that run all stages">full</span> run time: ~6s)
        </div></td>
        <td class="stage-total-0">
          <div class="cell-color">
            <div class="duration">3s</div>
            <div class="stackedBarChart"><div class="stackedBarChart inner clearfix"><div class="bar highlight" style="width: 35.69153776160145%;"></div><div class="bar posthighlight" style="width: 34.22429481346679%;"></div><div class="bar posthighlight" style="width: 30.084167424931756%;"></div><div class="clearfix"></div></div></div>
          </div>
        </td>
        <td class="stage-total-1">
          <div class="cell-color">
            <div class="duration">3s</div>
            <div class="stackedBarChart"><div class="stackedBarChart inner clearfix"><div class="bar prehighlight" style="width: 35.69153776160145%;"></div><div class="bar highlight" style="width: 34.22429481346679%;"></div><div class="bar posthighlight" style="width: 30.084167424931756%;"></div><div class="clearfix"></div></div></div>
          </div>
        </td>
        <td class="stage-total-2">
          <div class="cell-color">
            <div class="duration">2s</div>
            <div class="stackedBarChart"><div class="stackedBarChart inner clearfix"><div class="bar prehighlight" style="width: 35.69153776160145%;"></div><div class="bar prehighlight" style="width: 34.22429481346679%;"></div><div class="bar highlight" style="width: 30.084167424931756%;"></div><div class="clearfix"></div></div></div>
          </div>
        </td>
    </tr>
  </tbody>
    <tbody class="tobsTable-body">
    <tr class="job SUCCESS" data-runid="">
        <td class="stage-start">
          <div class="cell-color">
            <div class="cell-box">
              <div class="jobName"><span class="badge">#3</span></div>
              <div class="stage-start-box">
                <div class="stage-start-time">
                  <div class="date">1411556423000 1411556423000</div>
                  <div class="time">1411556423000</div>
                </div>
                                <div class="changeset-box no-changes">No Changes</div>
                <div class="stage-end-icons extension-dock">
                </div>
              </div>

              <div class="clearfix"></div>

            </div>
          </div>
        </td>
        <td class="stage-cell stage-cell-0 SUCCESS" data-stageid="">
          <div class="cell-color">
            <div class="stage-wrapper">
                <div class="duration">
                    <span style="font-size: 1.1791559504325462em; opacity: 0.6791559504325462;">3s</span>
                </div>
                    <div cbwf-controller="stage-actions-popover" descurl="" notif="stage-actions-popover,stage-failed-popover" caption="Success"></div>
                <div class="extension-dock"></div>
            </div>
          </div>
    </td>
        <td class="stage-cell stage-cell-1 SUCCESS" data-stageid="">
          <div class="cell-color">
            <div class="stage-wrapper">
                <div class="duration">
                    <span style="font-size: 1.1575286415711947em; opacity: 0.6575286415711947;">2s</span>
                </div>
                    <div cbwf-controller="stage-actions-popover" descurl="" notif="stage-actions-popover,stage-failed-popover" caption="Success"></div>
                <div class="extension-dock"></div>
            </div>
          </div>
    </td>
        <td class="stage-cell stage-cell-2 SUCCESS" data-stageid="">
          <div class="cell-color">
            <div class="stage-wrapper">
                <div class="duration">
                    <span style="font-size: 1.163315407996259em; opacity: 0.6633154079962591;">2s</span>
                </div>
                    <div cbwf-controller="stage-actions-popover" descurl="" notif="stage-actions-popover,stage-failed-popover" caption="Success"></div>
                    <div class="pause-duration">
                        <span title="paused for 30ms">(paused for 30ms)</span>
                    </div>
                <div class="extension-dock"></div>
            </div>
          </div>
    </td>
    </tr>
    <tr class="job SUCCESS" data-runid="">
        <td class="stage-start">
          <div class="cell-color">
            <div class="cell-box">
              <div class="jobName"><span class="badge">#2</span></div>
              <div class="stage-start-box">
                <div class="stage-start-time">
                  <div class="date">1411556089000 1411556089000</div>
                  <div class="time">1411556089000</div>
                </div>
                                <div class="changeset-box no-changes">No Changes</div>
                <div class="stage-end-icons extension-dock">
                </div>
              </div>

              <div class="clearfix"></div>

            </div>
          </div>
        </td>
        <td class="stage-cell stage-cell-0 SUCCESS" data-stageid="">
          <div class="cell-color">
            <div class="stage-wrapper">
                <div class="duration">
                    <span style="font-size: 1.1748798748463516em; opacity: 0.6748798748463516;">3s</span>
                </div>
                    <div cbwf-controller="stage-actions-popover" descurl="" notif="stage-actions-popover,stage-failed-popover" caption="Success"></div>
                <div class="extension-dock"></div>
            </div>
          </div>
    </td>
        <td class="stage-cell stage-cell-1 SUCCESS" data-stageid="">
          <div class="cell-color">
            <div class="stage-wrapper">
                <div class="duration">
                    <span style="font-size: 1.1856632025924685em; opacity: 0.6856632025924685;">3s</span>
                </div>
                    <div cbwf-controller="stage-actions-popover" descurl="" notif="stage-actions-popover,stage-failed-popover" caption="Success"></div>
                <div class="extension-dock"></div>
            </div>
          </div>
    </td>
        <td class="stage-cell stage-cell-2 SUCCESS" data-stageid="">
          <div class="cell-color">
            <div class="stage-wrapper">
                <div class="duration">
                    <span style="font-size: 1.13945692256118em; opacity: 0.6394569225611799;">2s</span>
                </div>
                    <div cbwf-controller="stage-actions-popover" descurl="" notif="stage-actions-popover,stage-failed-popover" caption="Success"></div>
                <div class="extension-dock"></div>
            </div>
          </div>
    </td>
    </tr>
    <tr class="job SUCCESS" data-runid="">
        <td class="stage-start">
          <div class="cell-color">
            <div class="cell-box">
              <div class="jobName"><span class="badge">#1</span></div>
              <div class="stage-start-box">
                <div class="stage-start-time">
                  <div class="date">1411552553000 1411552553000</div>
                  <div class="time">1411552553000</div>
                </div>
                                <div class="changeset-box no-changes">No Changes</div>
                <div class="stage-end-icons extension-dock">
                </div>
              </div>

              <div class="clearfix"></div>

            </div>
          </div>
        </td>
        <td class="stage-cell stage-cell-0 SUCCESS" data-stageid="">
          <div class="cell-color">
            <div class="stage-wrapper">
                <div class="duration">
                    <span style="font-size: 1.5em; opacity: 1;">3s</span>
                </div>
                    <div cbwf-controller="stage-actions-popover" descurl="" notif="stage-actions-popover,stage-failed-popover" caption="Success"></div>
                <div class="extension-dock"></div>
            </div>
          </div>
    </td>
        <td class="stage-cell stage-cell-1 NOT_EXECUTED" data-stageid="">
          <div class="cell-color">
            <div class="stage-wrapper">
                <div class="duration">
                    <span style="font-size: 1em; opacity: 0.5;">NaNy NaNd</span>
                </div>
                <div class="extension-dock"></div>
            </div>
          </div>
    </td>
        <td class="stage-cell stage-cell-2 NOT_EXECUTED" data-stageid="">
          <div class="cell-color">
            <div class="stage-wrapper">
                <div class="duration">
                    <span style="font-size: 1em; opacity: 0.5;">NaNy NaNd</span>
                </div>
                <div class="extension-dock"></div>
            </div>
          </div>
    </td>
    </tr>
  </tbody>

</table>
</div>
</div></div></div>