<div class="alert alert-info run-changeset-details git-repo">
    <div class="header">3 commits by <span class="contributor">tom.fennelly</span></div>
    <div class="body">
        <table>
            <tbody><tr title="by tom.fennelly - 1413473000">
                <td class="commitId">
                    <span class="label label-default">
                        <a href="https://github.com/tfennelly/simple-maven-project-with-tests/commit/0cd41e3000442fdf222f99a282af76c2faae7f1b" target="_blank">0cd41e3</a>
                    </span>
                </td>
                <td class="message">commit1</td>
            </tr>
            <tr title="by tom.fennelly - 1413493000">
                <td class="commitId">
                    <span class="label label-default">
                        <a href="https://github.com/tfennelly/simple-maven-project-with-tests/commit/0cd41e3000442fdf222f99a282af76c2faae7f1c" target="_blank">0cd41e3</a>
                    </span>
                </td>
                <td class="message">commit2</td>
            </tr>
            <tr title="by tom.fennelly - 1413503000">
                <td class="commitId">
                    <span class="label label-default">
                        1cd41e3
                    </span>
                </td>
                <td class="message">commit3</td>
            </tr>
        </tbody></table>
    </div>
    <div class="footer">
        <a href="/jenkins/job/Test%20Workflow/18/changes" target="_blank">See detail page</a>
    </div>
</div>